{% extends 'layout_front.html.twig' %}

{% block body %}
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h3>Prix du Mérite Sportif individuel 2018</h3>

            Le candidat doit être domicilié dans la commune ou être membre d’un club dont le siège et les activités sont
            situés dans la commune
            <br/>
            Le critère de sélection est la performance
            <br/>

            <h4><a href="{{ path('vote_new') }}">les proposés sont...</a></h4>

        </div>
    </div>

{% endblock %}

