{% extends 'layout_front.html.twig' %}

{% block body %}
    <h3>Contactez nous</h3>
<hr>
    <h4 class="text-success">JCS – Jeunesse Culture et Sport</h4>

    Boulevard du Midi, 22  – 6900 Marche-en-Famenne
    <br/>
    Téléphone : 084 32 01 04<br/>
    Courriel :<a href="mailto:jcs@marche.be">jcs@marche.be</a><br/>

{% endblock %}
