<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Merite</title>
</head>
<body>

Résultats des votes pour R. Marloie Sport {{ club }}
<br/><br/>

{% include 'club/_votes.html.twig' %}
<br/><br/>

Vous trouverez vos propositions de candidats en pièce jointe
<br/><br/>
CSL Centre Sportif Local<br/>
Chaussée de l'Ourthe, 74 – 6900 Marche-en-Famenne<br/>
Téléphone : 084 32 01 04<br/>
Courriel : johnny.kets@ac.marche.be<br/>
</body>
</html>
