{% extends 'layout_front.html.twig' %}

{% block body %}
    <h3>Envoie des mails</h3>

    <div class="alert alert-info">
        Pendant la phase de test les mails sont envoyés sur johnny.kets@ac.marche.be
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" type="submit"><i class="far fa-save"></i> Envoyer</button>
    {{ form_end(form) }}

{% endblock %}