<h3 class="text-danger">Son vote</h3>
<br />
{% for data in votes %}

    <h5 class="text-success">{{ data.categorie }}</h5>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Candidat</th>
            <th>Position</th>
        </tr>
        </thead>
        <tbody>
        {% for vote in data.votes %}
            <tr>
                <td>{{ vote.candidat }}</td>
                <td>{{ vote.position }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endfor %}